body,
html {
  background-color: #0f3460;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

h1 {
  color: #6ecb63;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

table tr td {
  border-bottom: 1px solid #5e454b;
  border-top: 1px solid #5e454b;
  padding-left: 5px;
}

th {
  padding-left: 5px;
}

table {
  background-color: #fff;
  border-top: 1px solid #5e454b;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-left: 1px solid #5e454b;
  border-right: 1px solid #5e454b;
}

p {
  font-size: 20px;
  color: #6ecb63;
}

table {
  font-size: 25px;
  color: #5e454b;
}

table tr {
  height: 45px;
}

table tr th {
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

table tr td {
  margin-right: 40px;
  padding-right: 100px;
  font-size: 18px;
}

table tr:nth-of-type(2n + 1) {
  background-color: #deedf0;
}
