body {
  background-color: #0f3460;
}

h1 {
  color: #6ecb63;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#messi {
  width: 400px;
  height: 500px;
  position: absolute;
  left: 1500px;
}
#foot {
  left: 1100px;
  height: 500px;
  width: 850px;
}

.lien {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 250px;
  text-decoration: none;
  color: black;
  background-color: white;
  text-align: center;
  line-height: 30px;
}

.lien:hover {
  display: inline-block;
  background-color: #d1e8e4;
}

p {
  font-size: 25px;
  color: #6ecb63;
}

nav {
  background-color: #6ecb63;
}

.image_fut {
  display: inline-block;
  height: 550px;
}

.choix_cartes {
  display: block;
  width: 400px;
  color: white;
}

.choix_cartes label {
  color: white;
}

select {
  display: inline-block;
  height: 40px;
  border: none;
}
